* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #081b2e;
  color: #fff;
}

/* Rotas para as entidades */

.rotas {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 12rem;
  gap: 6rem;
}

.rotas ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
}
.rotas ul li{
  margin-bottom: 4rem;
}
.rotas ul a {
  border: 2px solid #fff;
  padding: 2rem;
  background-color: #ffff;
  text-decoration: none;
  color: #030405;
}

/* Fim das rotas para as entidades */

/* ROTA PARA ENTIDADE CURSO */
.formAPI,
.listagem {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.formAPI form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formAPI form input {
  padding: .6rem;
}

.formAPI form textarea {
  padding: .6rem;
  max-height: 12rem;
  min-height: 12rem;
  max-width: 20.1rem;
  min-width: 20.1rem;
}

.listaMap {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.listagem p:nth-child(2) {
  font-size: 1.3rem;
}

.listagem div {
  display: flex;
  gap: .5rem;
}

.listagem button a,
.formAPI button a {
  text-decoration: none;
  color: #030405;
}

.styleMap {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: .5rem;
  width: 20rem;
}

.cardMap {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  border: 1px solid #fff;
  gap: 1.8rem;
}

.cardMap div {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.cardMap:hover {
  transform: scale(1.1);
  transition: all ease-in-out .2s;
}

/* FIM DA ROTA PARA ENTIDADE CURSO */

/* Modal */

.modal-overlay {
  background: rgba(0, 0, 0, 0.636);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: all 0.7s;
}

.modal-content {
  width: 40rem;
  height: 41rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.9rem;
  background-image: linear-gradient(to right top, #081b2e, #091725, #07121c, #050c13, #030405);
  ;
  color: white;
  padding: 2rem;
  border-radius: 6px;
  border: 1px solid #fff;
  transform: translateY(2.8rem);
}

.formEditar {
  display: flex;
  flex-direction: column;
  width: 20.2rem;
  gap: .4rem;
  padding: 1rem;
}

.formEditar input {
  width: 100%;
  padding: .4rem;
}

.formEditar textarea {
  max-height: 9rem;
  min-height: 9rem;
  max-width: 18.2rem;
  min-width: 18.2rem;
}